@{
    ViewBag.Title = "About";
}
<h1>What is our program</h1>
<div class="row">
    <div class="col-sm-6">
        <h4>The need</h4>
        <p>
            A fact that many people come to realize is that although they
            studied many dafim gemura or whatever else, as years go
            by and sometimes even months or days, specifically when learning daf hayoime,
            they don't remember anything.
        </p>
        <p>
            The feeling of that acknowledgement is very bitter, but the real problems that arises is that they are loosing the
            chashek to go on, and of course the lone thing that they don't remember what they learned is against the fundamentals of
            learning toarah.
        </p>
        <h4>The solution</h4>
        <p>
            There is already an established chazura system called " חבורת ש"ס " focusing  on ש"ס  and
            דף היומי with a goal to remember all what you learned.
            so they put out a chazura plan that they claimed was studied by mind professionals with that points.
        </p>
        <ul>
            <li>
                every daf that was learned for the first time must be relearned within 24 hours .
            </li>
            <li>
                then you could wait for another week till the next  chazura.
            </li>
            <li>
                your next chazura should be in a month from then .
            </li>
            <li>
                your next chazura should be in 3 months from then .
            </li>
            <li>
                the next time it should be on the data of the first time .
            </li>
            <li>
                from now on continue on a yearly basis .
            </li>
        </ul>
        <p>
            and with that you could pretty well remember everything you learned בעז"ה .
        </p>
        <h4>Our part</h4>
        <p>
            So one major obstacle of this system is that as time goes on
            the list of the חזרות gets bigger and to remember what's in
            for today is requesting for itself some kind of program, so here is where we're coming in to the picture.
        </p>
        <p>
            We created a website
            where a user could create an account and then pick a לימוד
            from a variety of לימודים for example all shas or a part
            and how much per day , and then pick the day to start and for how much years to continue
            (and if to get daily email reminders /so far not developed ),
            also the option to enter custom
            לימודים
        </p>
        <p>
            then the user could sign ln and view what he is up for today or any data entered ,or a view of multiple
            days and go on to view detailed information and  edit and delete.
        </p>
    </div>
    <div class="col-sm-6 text-right">
        <h4>הבעיא</h4>
        <p>
            המציאות המכאיבה שכמה בני אדם באים להכיר, היא שעל אף שכבר למד דפים על דפים מסכתות שלימות
             או סוגית הלכה, ככל שזמן חולף כך השכחה גוברת. ולאחר שנים 
            ואפילו חדשים או ימים ובפרט ללומדי מסגרת דף היומי
            הכל נשכח.
        </p>
        <p>
            הרגישות הזו הוא מאד מרור אבל מה שבאמת מכאיב הוא קודם כל שאובדים כל החשק ללמוד, והשנית והוא
             העיקר שללמוד ולא לזכור הוא מנוגד לעיקר לימוד תורתינו הקדושה
        </p>
        <h4>העצה</h4>
        <p>
            כבר כמה שנים הולך ומתפשט דרך חזרה הנקרא "חבורת שס" עם סדר
             חזרה המיוסד בעיקר על סדר השס וללומדי דף היומי שעבר פיקוח על ידי 
            מביני מח גדולים, עם נהדרכות ונקודות אלו.
        </p>
        <ul @*class="list-unstyled"*@>
            <li>כל פעם שלומדים דף חדש יש לחזור עליו עוה"פ תוך כ"ד שעות</li>
            <li>אח"כ ממתינים שבוע וחוזרים עוה"פ</li>
            <li>כשעוברים שלושים יום מפעם האחרון אזי חוזרים שוב </li>
            <li>וכך עושים ג"כ לאחר 90 ימים דהיינו ג' חדשים</li>
            <li>שוב חוזרים עליו ליום השנה דלימוד הראשון</li>
            <li>מכאן ואילך חוזרים עליו כל שנה פעם אחת</li>
        </ul>
        <p>ובזה בסייעתא דשמיא זוכרים כל מה שלמדו</p>
    </div>
</div>