@model ChangePasswordVM
@{
    ViewBag.Title = "Change Password";
}
<h2 class="text-center">Change Password</h2>
<hr />
<div class="row">
    <div class="col-sm-8 col-md-6 offset-sm-2 offset-md-3 my-bg-transform">
        <form method="post" asp-action="ChangePassword" class="spin-at-Submit">
            <div asp-validation-summary="ModelOnly"></div>


            <div class="form-group row">
                <div class="col-12">
                    <label asp-for="Username">Username</label>
                </div>

                <div class="col-12">
                    <input asp-for="Username" disabled class="form-control " />
                </div>
                <input asp-for="Username" hidden />
                @*<div class="col-12 text-danger">
            <span asp-validation-for="Username"></span>
        </div>*@
            </div>
            <div class="form-group  row">
                <div class="col-12"> <label asp-for="OldPassword">OldPassword</label></div>
                <div class=" col-12">
                    <input class="form-control" asp-for="OldPassword" />
                </div>
                <div class="col-12 text-danger">
                    <span asp-validation-for="OldPassword"></span>
                </div>

            </div>
            <div class="form-group  row">
                <div class="col-12"> <label asp-for="NewPassword">New Password</label></div>
                <div class=" col-12">
                    <input class="form-control" asp-for="NewPassword" />
                </div>
                <div class="col-12 text-danger">
                    <span asp-validation-for="NewPassword"></span>
                </div>

            </div>
            <div class="form-group  row">
                <div class="col-12"> <label asp-for="ConfirmPW"></label></div>
                <div class=" col-12">
                    <input class="form-control" asp-for="ConfirmPW" />
                </div>
                <div class="col-12 text-danger">
                    <span asp-validation-for="ConfirmPW"></span>
                </div>

            </div>
           
            <div class="row">
                <div class="offset-2 col-sm-4">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a asp-action="Index"asp-controller="Home" class="btn btn-outline-primary">Cancel</a>
                </div>
            </div>




        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
