@model CustomVM

<h4>ברור לעצמך לימוד ליום</h4>
<hr />
<div class="row">
    <div class="col-sm-8">
        <form method="post" asp-action="Custom" class="spin-at-Submit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Enter a title </label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Enter a brief description </label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label asp-for="Date">Select a date to start</label>
                </div>
                <div class="col-sm-6">
                    <p>You could use the hebrew select list for help </p>
                </div>
                <div class="col-sm-6">
                    <input asp-for="Date" type="date" class="form-control " />
                </div>
                <div class="col-sm-6">
                    <select id="hdl" class="form-control "
                            asp-items="@(new SelectList(Model.DatesList,"Key","Value"))"></select>
                </div>
                <div class="col-12 text-warning">
                    <span asp-validation-for="Date"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="YearsContinue" class="control-label">Years to continue the chazura</label>
                <input asp-for="YearsContinue" class="form-control" />
                <span asp-validation-for="YearsContinue" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check form-switch">
                <input class="form-check-input" type="checkbox"  asp-for="EmailNotify">
                <label class="form-check-label" asp-for="EmailNotify">Email  notify</label>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>
<script>
    
    $("#hdl").change(() => {
        $("#Date").val($("#hdl").val());
    });
</script>

