@{
    ViewData["Title"] = "Home Page";
}

<h2 id="try">Press</h2>
<div id="getit"></div>
<button class="btn btn-danger sub-rot" id="try3">Show Spinner</button> 
 <a id="tryAjax" asp-action="TryAjax">add</a>
<div id="ajDisp"></div>
 <script src="~/js/ajax.js"></script>
